
<div class="response" id="response"></div>

<div id="buttonContainer">
	<button type="button" id="formAddMembersBtn" class="btn btn-light">
		<a th:text="#{datatable.btn.nuevoregistro}"
			href="javascript: mostrarModalAddMembers();"></a>
	</button>
	<button type="button" th:text="#{datatable.btn.generarexcel}"
		class="btn btn-light">
		<a th:href="@{/management/generateExcel/members}"></a>
	</button>
</div>

<!-- DATATABLE -->

<div class="container" id="datatableMembersContainer">
	<table id="membersDatatable"
		class="table datatableAdmin display nowrap">
		<thead>
			<tr>
				<th th:text="#{datatable.table.id}" class="atri" scope="col"></th>
				<th th:text="#{datatable.members.nombre}" class="atri" scope="col"></th>
				<th th:text="#{datatable.members.datos}"
					style="word-break: normal; white-space: pre-line;" class="atri"
					scope="col"></th>
				<th th:text="#{datatable.members.categoria}" class="atri selectCat"
					scope="col"></th>
				<th th:text="#{datatable.members.foto}" class="atri" scope="col"></th>
				<th th:text="#{datatable.members.trayectoria}" class="atri"
					scope="col"></th>
				<th th:text="#{datatable.table.admin}" class="atri" scope="col"></th>
				<th th:text="#{datatable.table.fecha}" class="atri" scope="col"></th>
				<th th:text="#{datatable.table.activo}" class="atri selectActive"
					scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody></tbody>
		<tfoot>
			<tr>
				<th th:text="#{datatable.table.id}" class="atri" scope="col"></th>
				<th th:text="#{datatable.members.nombre}" class="atri" scope="col"></th>
				<th th:text="#{datatable.members.datos}"
					style="word-break: normal; white-space: pre-line;" class="atri"
					scope="col"></th>
				<th th:text="#{datatable.members.categoria}" class="atri selectCat"
					scope="col"></th>
				<th th:text="#{datatable.members.foto}" class="atri" scope="col"></th>
				<th th:text="#{datatable.members.trayectoria}" class="atri"
					scope="col"></th>
				<th th:text="#{datatable.table.admin}" class="atri" scope="col"></th>
				<th th:text="#{datatable.table.fecha}" class="atri" scope="col"></th>
				<th th:text="#{datatable.table.activo}" class="atri selectActive"
					scope="col"></th>
				<th scope="col"></th>
			</tr>
		</tfoot>
	</table>
</div>
<input class="selectedCat" type="hidden" value="3">


<!-- SELECT FILTRO CATEGORÍAS -->

<select class="form-select" id="idProCatSelect"
	aria-label="Floating label select example">
	<option th:text="#{datatable.members.select.categoria}" value=""></option>
	<option th:each="proCatDto : ${listaProCatDto}"
		th:text="${proCatDto.nameProCat}" th:value="${proCatDto.idProCat}">
</select>


<!-- MODAL - DATOS PERSONALES -->

<div class="modal" tabindex="-1" id="modalMembersData">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header containerTitles">
				<h5 id="headerMembersData" class="modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="apartado">
				<h5 th:text="#{datatable.members.modal.datos}"></h5>
			</div>
			<div class="modal-body" id="modalBodyMembersData">

				<!-- DNI -->

				<div class="datosModal">
					<label th:text="#{datatable.members.modal.datos.dni}"></label>
					<p id="modalDniMember"></p>
				</div>

				<!-- NOMBRE DE AUTOR -->

				<div class="datosModal">
					<label th:text="#{datatable.members.modal.datos.nombreautor}"></label>
					<p id="modalShortNameMember"></p>
				</div>

				<!-- EMAIL -->

				<div class="datosModal">
					<label th:text="#{datatable.members.modal.datos.email}"></label>
					<p id="modalEmailMember"></p>
				</div>

				<!-- TELÉFONO -->

				<div class="datosModal">
					<label th:text="#{datatable.members.modal.datos.telefono}"></label>
					<p id="modalPhoneMember"></p>
				</div>

				<!-- RESEARCHID -->

				<div class="datosModal">
					<label th:text="#{datatable.members.modal.datos.researchid}"></label>
					<p id="modalReseachIdMember"></p>
				</div>

				<!-- SCOPUSID -->

				<div class="datosModal">
					<label th:text="#{datatable.members.modal.datos.scopusid}"></label>
					<p id="modalScopusIdMember"></p>
				</div>

				<!-- ORCID -->

				<div class="datosModal">
					<label th:text="#{datatable.members.modal.datos.orcidid}"></label>
					<p id="modalOrcIdMember"></p>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" th:text="#{modal.btn.cerrar}"
					class="btn btn-light" data-bs-dismiss="modal"></button>

			</div>
		</div>
	</div>
</div>


<!-- MODAL - FOTO -->

<div class="modal" tabindex="-1" id="modalMembersPhoto">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header containerTitles">
				<h5 id="headerMembersPhoto" class="modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<img class="modalImage" id="bodyModalMembersPhoto"></img>
			</div>
			<div class="modal-footer">
				<button type="button" th:text="#{modal.btn.cerrar}"
					class="btn btn-light" data-bs-dismiss="modal"></button>
			</div>
		</div>
	</div>
</div>


<!-- MODAL - TRAYECTORIA -->

<div class="modal" tabindex="-1" id="modalMembersTrajectory">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header containerTitles">
				<h5 id="headerMembersTrajectory" class="modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="apartado">
				<h5 th:text="#{datatable.members.modal.trayectoria}"></h5>
			</div>
			<div class="modal-body modalTexto">
				<p id="bodyMembersTrajectory"></p>
			</div>
			<div class="modal-footer">
				<button type="button" th:text="#{modal.btn.cerrar}"
					class="btn btn-light" data-bs-dismiss="modal"></button>
			</div>
		</div>
	</div>
</div>


<!-- MODAL - AÑADIR MIEMBRO -->

<div class="modal" tabindex="-1" id="modalAddMembers">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header containerTitles">
				<h5 th:text="#{datatable.modal.add.header}"
					id="headerModalAddMembers" class="modal-title"></h5>
				<button id="btnCloseAddMembers" type="button" class="btn-close"
					data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="formAddMembers" class="row g-3 needs-validation">

					<!-- NOMBRE -->

					<div class="form-group has-validation">
						<label th:text="#{datatable.members.nombre}" for="nameMember"></label>
						<input autocomplete="off" type="text" class="form-control"
							id="nameMember" name="nameMember" required>
						<div th:text="#{datatable.members.modal.validacion.nombre}"
							class="invalid-feedback"></div>
					</div>

					<!-- NOMBRE DE AUTOR -->

					<div class="form-group has-validation">
						<label th:text="#{datatable.members.nombreautor}"
							for="shortNameMember"></label> <input autocomplete="off"
							type="text" class="form-control" id="shortNameMember"
							name="shortNameMember" required>
						<div th:text="#{datatable.members.modal.validacion.nombreautor}"
							class="invalid-feedback"></div>
					</div>

					<!-- DNI -->

					<div class="form-group">
						<label th:text="#{datatable.members.dni}" for="dniMember"></label>
						<input type="text" autocomplete="off" class="form-control"
							id="dniMember" name="dniMember">
						<div th:text="#{datatable.members.modal.validacion.dni}"
							class="invalid-feedback"></div>
					</div>

					<!-- EMAIL -->

					<div class="form-group has-validation">
						<label th:text="#{datatable.members.email}" for="emailMember"></label>
						<input type="email" autocomplete="off" class="form-control"
							id="emailMember" name="emailMember" required>
						<div th:text="#{datatable.members.modal.validacion.email}"
							class="invalid-feedback"></div>
					</div>

					<!-- TELÉFONO -->

					<div class="form-group">
						<label th:text="#{datatable.members.telefono}" for="phoneMember"></label>
						<input type="text" autocomplete="off" class="form-control"
							id="phoneMember" name="phoneMember">
					</div>

					<!-- CATEGORÍA -->

					<div class="form-group has-validation">
						<label th:text="#{datatable.members.categoria}"
							for="idProCatActiveSelect"></label> <select class="form-select"
							id="idProCatActiveSelect"
							aria-label="Floating label select example" required>
							<option th:text="#{datatable.members.select.categoria}" value=""></option>
							<option th:each="proCatDto : ${listaProCatDtoActivas}"
								th:text="${proCatDto.nameProCat}"
								th:value="${proCatDto.idProCat}">
						</select>
						<div th:text="#{datatable.members.modal.validacion.categoria}"
							class="invalid-feedback"></div>
					</div>

					<!-- FOTO -->

					<div class="form-group has-validation">
						<label th:text="#{datatable.members.foto}" for="imageMembers"></label>
						<input type="file" name="file"
							class="form-control form-control-sm" id="imageMembers" required>
						<div th:text="#{datatable.members.modal.validacion.foto}"
							class="invalid-feedback"></div>
					</div>

					<!-- RESEARCHID -->

					<div class="form-group">
						<label th:text="#{datatable.members.researchid}"
							for="reseachIdMember"></label> <input type="text"
							autocomplete="off" class="form-control" id="reseachIdMember"
							name="reseachIdMember">
					</div>

					<!-- SCOPUSID -->

					<div class="form-group">
						<label th:text="#{datatable.members.scopusid}"
							for="scopusIdMember"></label> <input type="text"
							autocomplete="off" class="form-control" id="scopusIdMember"
							name="scopusIdMember">
					</div>

					<!-- ORCID -->

					<div class="form-group">
						<label th:text="#{datatable.members.orcidid}" for="orcIdMember"></label>
						<input type="text" autocomplete="off" class="form-control"
							id="orcIdMember" name="orcIdMember">
					</div>

					<!-- TRAYECTORIA -->

					<div class="form-group">
						<label th:text="#{datatable.members.trayectoria}"
							for="trajectoryMember"></label>
						<textarea class="form-control" id="trajectoryMember" maxlength="3500"></textarea>
						<small id="trajectoryMembersMaxContador"></small>
						<small id="trajectoryMembersMax" th:text="#{datatable.modal.maximo}"></small>
					</div>

					<!-- ACTIVO -->

					<div class="form-group">
						<label th:text="#{datatable.table.activo}" for="active"></label> <select
							class="form-select" id="active"
							aria-label="Floating label select example" required>
							<option th:text="#{datatable.table.activo.si}" value="1"></option>
							<option th:text="#{datatable.table.activo.no}" value="0"></option>
						</select>
					</div>

				</form>
				<div class="alert-danger text-center mensajeError" id="addMembersError"></div>
			</div>
			<div class="modal-footer">
				<button type="button" th:text="#{modal.btn.aceptar}"
					class="btn btn-light" data-bs-dismiss="modal"
					id="btnAceptarAddMembers"></button>
				<button type="button" th:text="#{modal.btn.cancelar}"
					class="btn btn-light" data-bs-dismiss="modal"
					id="btnCancelarAddMembers"></button>
			</div>
		</div>
	</div>
</div>


<!-- MODAL - EDITAR MIEMBRO -->

<div class="modal" tabindex="-1" id="modalUpdateMembers">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header containerTitles modalUpdate">
				<h5 th:text="#{datatable.modal.update.header}"
					id="headerModalUpdateMembers" class="modal-title"></h5>
				<button id="btnCloseUpdateMembers" type="button" class="btn-close"
					data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<form id="formUpdateMember" class="row g-3 needs-validation">

					<!-- NOMBRE -->

					<div class="form-group has-validation">
						<label th:text="#{datatable.members.nombre}" for="nameMemberEdit"></label>
						<input autocomplete="off" type="text" class="form-control"
							id="nameMemberEdit" name="nameMember" required>
						<div th:text="#{datatable.members.modal.validacion.nombre}"
							class="invalid-feedback"></div>
					</div>

					<!-- NOMBRE DE AUTOR -->

					<div class="form-group has-validation">
						<label th:text="#{datatable.members.nombreautor}"
							for="shortNameMemberEdit"></label> <input autocomplete="off"
							type="text" class="form-control" id="shortNameMemberEdit"
							name="shortNameMember" required>
						<div th:text="#{datatable.members.modal.validacion.nombreautor}"
							class="invalid-feedback"></div>
					</div>

					<!-- DNI -->

					<div class="form-group ">
						<label th:text="#{datatable.members.dni}" for="dniMemberEdit"></label>
						<input type="text" autocomplete="off" class="form-control"
							id="dniMemberEdit" name="dniMember">
						<div th:text="#{datatable.members.modal.validacion.dni}"
							class="invalid-feedback"></div>
					</div>

					<!-- EMAIL -->

					<div class="form-group has-validation">
						<label th:text="#{datatable.members.email}" for="emailMemberEdit"></label>
						<input type="email" autocomplete="off" class="form-control"
							id="emailMemberEdit" name="emailMember" required>
						<div th:text="#{datatable.members.modal.validacion.email}"
							class="invalid-feedback"></div>
					</div>


					<!-- TELÉFONO -->

					<div class="form-group ">
						<label th:text="#{datatable.members.telefono}"
							for="phoneMemberEdit"></label> <input type="text"
							autocomplete="off" class="form-control" id="phoneMemberEdit"
							name="phoneMember">
					</div>

					<!-- CATEGORÍA -->

					<div class="form-group has-validation">
						<label th:text="#{datatable.members.categoria}"
							for="idProCatActiveSelectEdit"></label> <select
							class="form-select" id="idProCatActiveSelectEdit"
							aria-label="Floating label select example" required>
							<option th:text="#{datatable.members.select.categoria}" value=""></option>
							<option th:each="proCatDto : ${listaProCatDtoActivas}"
								th:text="${proCatDto.nameProCat}"
								th:value="${proCatDto.idProCat}">
						</select>
						<div th:text="#{datatable.members.modal.validacion.categoria}"
							class="invalid-feedback"></div>
					</div>

					<!-- RESEARCHID -->

					<div class="form-group">
						<label th:text="#{datatable.members.researchid}"
							for="reseachIdMemberEdit"></label> <input type="text"
							autocomplete="off" class="form-control" id="reseachIdMemberEdit"
							name="reseachIdMember">
					</div>

					<!-- SCOPUSID -->

					<div class="form-group">
						<label th:text="#{datatable.members.scopusid}"
							for="scopusIdMemberEdit"></label> <input type="text"
							autocomplete="off" class="form-control" id="scopusIdMemberEdit"
							name="scopusIdMember">
					</div>

					<!-- ORCID -->

					<div class="form-group">
						<label th:text="#{datatable.members.orcidid}"
							for="orcIdMemberEdit"></label> <input type="text"
							autocomplete="off" class="form-control" id="orcIdMemberEdit"
							name="orcIdMember">
					</div>

					<!-- TRAYECTORIA -->

					<div class="form-group">
						<label th:text="#{datatable.members.trayectoria}"
							for="trajectoryMemberEdit"></label>
						<textarea class="form-control" id="trajectoryMemberEdit" maxlength="3500"></textarea>
						<small id="trajectoryMembersMaxContadorEdit"></small>
						<small id="trajectoryMembersMax" th:text="#{datatable.modal.maximo}"></small>
					</div>

					<!-- ACTIVO -->

					<div class="form-group">
						<label th:text="#{datatable.table.activo}" for="activeEdit"></label>
						<select class="form-select" id="activeEdit"
							aria-label="Floating label select example" required>
							<option th:text="#{datatable.table.activo.si}" value="1"></option>
							<option th:text="#{datatable.table.activo.no}" value="0"></option>
						</select>
					</div>

					<input type="hidden" id="idMembersUpdate">

				</form>
				<div class="alert-danger text-center mensajeError" id="updateMembersError"></div>
			</div>
			<div class="modal-footer">
				<button type="button" th:text="#{modal.btn.aceptar}"
					class="btn btn-light" data-bs-dismiss="modal"
					id="btnAceptarUpdateMembers"></button>
				<button type="button" th:text="#{modal.btn.cancelar}"
					class="btn btn-light" data-bs-dismiss="modal"
					id="btnCancelarUpdateMembers"></button>
			</div>
		</div>
	</div>
</div>


<!-- MODAL - EDITAR FOTO MIEMBRO -->

<div class="modal" tabindex="-1" id="modalUpdatePhotoMembers">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header containerTitles modalUpdate">
				<h5 th:text="#{datatable.modal.update.photo.header}"
					id="headerModalUpdatePhotoMembers" class="modal-title"></h5>
				<button id="btnCloseUpdatePhotoMembers" type="button"
					class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<form id="formUpdatePhotoMembers" class="row g-3 needs-validation">

					<!-- FOTO -->

					<div class="form-group">
						<label th:text="#{datatable.members.foto}" for="imageMembersEdit">Foto</label>
						<input type="file" name="file"
							class="form-control form-control-sm" id="imageMembersEdit"
							required>
						<div th:text="#{datatable.members.modal.validacion.foto}"
							class="invalid-feedback"></div>
					</div>

					<input type="hidden" id="idMembersPhotoUpdate">

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" th:text="#{modal.btn.aceptar}"
					class="btn btn-light" data-bs-dismiss="modal"
					id="btnAceptarUpdatePhotoMembers"></button>
				<button type="button" th:text="#{modal.btn.cancelar}"
					class="btn btn-light" data-bs-dismiss="modal"
					id="btnCancelarUpdatePhotoMembers"></button>
			</div>
		</div>
	</div>
</div>


<!-- MODAL - ELIMINAR MIEMBRO -->

<div class="modal modalDelete" tabindex="-1" id="modalDeleteMembers">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header containerTitles ">
				<h5 th:text="#{datatable.modal.delete.header}"
					id="headerModalDeleteMembers" class="modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<label th:text="#{datatable.members.modal.delete.label}"></label> <input
					type="hidden" id="idMembersDelete">
			</div>
			<div class="modal-footer">
				<button type="button" th:text="#{modal.btn.aceptar}"
					class="btn btn-light" data-bs-dismiss="modal"
					id="btnAceptarDeleteMembers"></button>
				<button type="button" th:text="#{modal.btn.cancelar}"
					class="btn btn-light" data-bs-dismiss="modal"
					id="btnCancelarDeleteMembers"></button>
			</div>
		</div>
	</div>
</div>

<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
	integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
	crossorigin="anonymous"></script>
