<div id="response"></div>

<div>
	<button type="button" id="formAddNewsBtn" class="btn btn-secondary">
		<a href="javascript: mostrarModalAddNews();">Añadir nueva noticia</a>
	</button>
	<button type="button" class="btn btn-warning"><a th:href="@{/management/generateExcel/news}">Generar Excel</a></button>
</div>




<!-- DATATABLE -->

<table id="newsDatatable" class="table datatableAdmin"
	style="text-align: center;">
	<thead>
		<tr>
			<th class="atri" scope="col">ID</th>
			<th class="atri" scope="col" style="max-width: 300px;">Titulo</th>
			<th class="atri" scope="col">Imagen</th>
			<th class="atri" scope="col">Abstract</th>
			<th class="atri" scope="col">Contenido</th>
			<th class="atri" scope="col">Admin</th>
			<th class="atri" scope="col">Fecha</th>
			<th class="atri selectActive" scope="col">Activo</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>

	</tbody>
	<tfoot>
		<tr>
			<th class="atri" scope="col">ID</th>
			<th class="atri" scope="col" style="max-width: 300px;">Titulo</th>
			<th class="atri" scope="col">Imagen</th>
			<th class="atri" scope="col">Abstract</th>
			<th class="atri" scope="col">Contenido</th>
			<th class="atri" scope="col">Admin</th>
			<th class="atri" scope="col">Fecha</th>
			<th class="atri selectActive" scope="col">Activo</th>
			<th scope="col"></th>
		</tr>
	</tfoot>

</table>
<input class="selectedCat" type="hidden" value="1">


<!-- MODAL - IMAGEN -->

<div class="modal" tabindex="-1" id="modalNewsImage">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img id="bodyModalImageNews"></img>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>

<!-- MODAL - ABSTRACT -->

<div class="modal" tabindex="-1" id="modalNewsAbstract">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="headerModalAbstract" class="modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p id="bodyModalAbstract"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>


<!-- MODAL - CONTENIDO -->

<div class="modal" tabindex="-1" id="modalNewsContent">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="headerModalContent" class="modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p id="bodyModalContent"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>

<!-- MODAL - AÑADIR NOTICIA -->

<div class="modal" tabindex="-1" id="modalAddNews">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="headerModalAddNews" class="modal-title">Añadir nueva
					noticia</h5>
				<button id="btnCloseAddNews" type="button" class="btn-close"
					data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="formAddNews" class="row g-3 needs-validation">

					<!-- TÍTULO -->

					<div class="form-group has-validation">
						<label for="titleNews">Título</label>
						<textarea class="form-control" id="titleNews"
							style="height: 100px" required></textarea>
						<div class="invalid-feedback">Please choose a username.</div>

					</div>

					<!-- ABSTRACT -->

					<div class="form-group ">
						<label for="abstractNews">Abstract</label>
						<textarea class="form-control" id="abstractNews"
							style="height: 100px"></textarea>
						

					</div>

					<!-- CONTENIDO -->

					<div class="form-group has-validation">
						<label for="contentNews">Contenido</label>
						<textarea class="form-control" id="contentNews"
							style="height: 100px" required></textarea><div class="invalid-feedback">Please choose a username.</div>

					</div>

					<!-- ACTIVO -->

					<div class="form-group">
						<label for="active">Activo</label> <select class="form-select"
							id="active" aria-label="Floating label select example" required>
							<option value="1">Si</option>
							<option value="0">No</option>
						</select>
					</div>

					<!-- IMAGEN -->

					<div class="form-group has-validation">
						<label for="imageNews">Imagen</label> <input type="file"
							name="file" class="form-control form-control-sm" id="imageNews"
							required>
						<div class="invalid-feedback">Please choose a username.</div>

					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal" id="btnAceptarAddNews">Aceptar</button>
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal" id="btnCancelarAddNews">Cancelar</button>

			</div>
		</div>
	</div>
</div>

<!-- MODAL - EDITAR NOTICIA -->

<div class="modal" tabindex="-1" id="modalUpdateNews">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="headerModalUpdateNews" class="modal-title">Editar
					noticia</h5>
				<button id="btnCloseUpdateNews" type="button" class="btn-close"
					data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="formUpdateNews" class="row g-3 needs-validation">

					<!-- TÍTULO -->

					<div class="form-group has-validation">
						<label for="titleNewsEdit">Título</label>
						<textarea class="form-control" id="titleNewsEdit"
							style="height: 100px" required></textarea>
						<div class="invalid-feedback">Please choose a username.</div>
					</div>



					<!-- ABSTRACT -->

					<div class="form-group ">
						<label for="abstractNewsEdit">Abstract</label>
						<textarea class="form-control" id="abstractNewsEdit"
							style="height: 100px" ></textarea>
						
					</div>



					<!-- CONTENIDO -->

					<div class="form-group has-validation">
						<label for="contentNewsEdit">Contenido</label>
						<textarea class="form-control" id="contentNewsEdit"
							style="height: 100px"required></textarea><div class="invalid-feedback">Please choose a username.</div>

					</div>

					<!-- ACTIVO -->

					<div class="form-group">
						<label for="activeEdit">Activo</label> <select class="form-select"
							id="activeEdit" aria-label="Floating label select example"
							required>
							<option value="1">Si</option>
							<option value="0">No</option>
						</select>
					</div>


					<input type="hidden" id="idNewsUpdate">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal" id="btnAceptarUpdateNews">Aceptar</button>
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal" id="btnCancelarUpdateNews">Cancelar</button>
			</div>
		</div>
	</div>
</div>

<!-- MODAL - EDITAR FOTO NOTICIA -->

<div class="modal" tabindex="-1" id="modalUpdateImageNews">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="headerModalUpdateImageNews" class="modal-title">Editar
					noticia</h5>
				<button id="btnCloseUpdateImageNews" type="button" class="btn-close"
					data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="formUpdateImageNews" class="row g-3 needs-validation">

					<!-- IMAGEN -->

					<div class="form-group has-validation">
						<label for="imageNewsEdit">Imagen</label> <input type="file"
							name="file" class="form-control form-control-sm"
							id="imageNewsEdit" required>
						<div class="invalid-feedback">Please choose a username.</div>
					</div>


					<input type="hidden" id="idNewsUpdateImage">
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal" id="btnAceptarUpdateImageNews">Aceptar</button>
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal" id="btnCancelarUpdateImageNews">Cancelar</button>
			</div>
		</div>
	</div>
</div>


<!-- MODAL - ELIMINAR NOTICIA -->

<div class="modal" tabindex="-1" id="modalDeleteNews">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="headerModalDeleteNews" class="modal-title">Eliminar
					Noticia</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<label>¿Estás seguro de querer eliminar esta noticia?</label> <input
					type="hidden" id="idNewsDelete">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal" id="btnAceptarDeleteNews">Aceptar</button>
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal" id="btnCancelarDeleteNews">Cancelar</button>

			</div>
		</div>
	</div>
</div>

<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
	integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
	crossorigin="anonymous"></script>