<table id="proCatDatatable" class="table">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Titulo</th>
			<th scope="col">Imagen</th>
			<th scope="col">Abstract</th>
			<th scope="col">Contenido</th>
			<th scope="col">Activo</th>
			<th scope="col">Acciones</th>
		</tr>
	</thead>
	<tbody>

	</tbody>
	<tfoot>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Titulo</th>
			<th scope="col">Imagen</th>
			<th scope="col">Abstract</th>
			<th scope="col">Contenido</th>
			<th scope="col">Activo</th>
			<th scope="col">Acciones</th>
		</tr>
	</tfoot>

</table>