
<div class="response" id="response"></div>

<div id="buttonContainer">
	<button type="button" id="formAddNewsBtn" class="btn btn-light">
		<a th:text="#{datatable.btn.nuevoregistro}"
			href="javascript: mostrarModalAddNews();"></a>
	</button>
	<button type="button" th:text="#{datatable.btn.generarexcel}"
		class="btn btn-light">
		<a th:href="@{/management/generateExcel/news}"></a>
	</button>
</div>


<!-- DATATABLE -->

<div class="container" id="datatableNewsContainer">
	<table id="newsDatatable" class="table datatableAdmin display nowrap ">
		<thead>
			<tr>
				<th th:text="#{datatable.table.id}" class="atri" scope="col"></th>
				<th th:text="#{datatable.news.titulo}" class="atri" scope="col"></th>
				<th th:text="#{datatable.news.imagen}" class="atri" scope="col"></th>
				<th th:text="#{datatable.news.abstract}" class="atri" scope="col"></th>
				<th th:text="#{datatable.news.contenido}" class="atri" scope="col"></th>
				<th th:text="#{datatable.table.admin}" class="atri" scope="col"></th>
				<th th:text="#{datatable.table.fecha}" class="atri" scope="col"></th>
				<th th:text="#{datatable.table.activo}" class="atri selectActive"
					scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody></tbody>
		<tfoot>
			<tr>
				<th th:text="#{datatable.table.id}" class="atri" scope="col"></th>
				<th th:text="#{datatable.news.titulo}" class="atri" scope="col"></th>
				<th th:text="#{datatable.news.imagen}" class="atri" scope="col"></th>
				<th th:text="#{datatable.news.abstract}" class="atri" scope="col"></th>
				<th th:text="#{datatable.news.contenido}" class="atri" scope="col"></th>
				<th th:text="#{datatable.table.admin}" class="atri" scope="col"></th>
				<th th:text="#{datatable.table.fecha}" class="atri" scope="col"></th>
				<th th:text="#{datatable.table.activo}" class="atri selectActive"
					scope="col"></th>
				<th scope="col"></th>
			</tr>
		</tfoot>
	</table>
</div>
<input class="selectedCat" type="hidden" value="1">


<!-- MODAL - IMAGEN -->

<div class="modal" tabindex="-1" id="modalNewsImage">
	<div class="modal-dialog">
		<div class="modal-content ">
			<div class="modal-header containerTitles">
				<h5 id="headerModalImage" class="modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<img class="modalImage" id="bodyModalImageNews"></img>
			</div>
			<div class="modal-footer">
				<button type="button" th:text="#{modal.btn.cerrar}"
					class="btn btn-light" data-bs-dismiss="modal"></button>
			</div>
		</div>
	</div>
</div>


<!-- MODAL - ABSTRACT -->

<div class="modal" tabindex="-1" id="modalNewsAbstract">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header containerTitles ">
				<h5 id="headerModalAbstract" class="modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="apartado">
				<h5 th:text="#{datatable.news.modal.abstract}"></h5>
			</div>
			<div class="modal-body modalTexto">
				<p id="bodyModalAbstract"></p>
			</div>
			<div class="modal-footer">
				<button type="button" th:text="#{modal.btn.cerrar}"
					class="btn btn-light" data-bs-dismiss="modal"></button>
			</div>
		</div>
	</div>
</div>


<!-- MODAL - CONTENIDO -->

<div class="modal" tabindex="-1" id="modalNewsContent">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header containerTitles">
				<h5 id="headerModalContent" class="modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="apartado">
				<h5 th:text="#{datatable.news.modal.contenido}"></h5>
			</div>
			<div class="modal-body modalTexto">
				<p id="bodyModalContent"></p>
			</div>
			<div class="modal-footer">
				<button type="button" th:text="#{modal.btn.cerrar}"
					class="btn btn-light" data-bs-dismiss="modal"></button>
			</div>
		</div>
	</div>
</div>


<!-- MODAL - AÑADIR NOTICIA -->

<div class="modal" tabindex="-1" id="modalAddNews">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header containerTitles">
				<h5 th:text="#{datatable.modal.add.header}" id="headerModalAddNews"
					class="modal-title"></h5>
				<button id="btnCloseAddNews" type="button" class="btn-close"
					data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">

				<form id="formAddNews" class="row g-3 needs-validation">

					<!-- TÍTULO -->

					<div class="form-group has-validation">
						<label th:text="#{datatable.news.titulo}" for="titleNews"></label>
						<textarea class="form-control" id="titleNews" maxlength="3500" required></textarea>
						<small id="titleNewsMaxContador"></small>
						<small id="titleNewsMax" th:text="#{datatable.modal.maximo}"></small>
						<div th:text="#{datatable.news.modal.validacion.titulo}"
							class="invalid-feedback"></div>
					</div>

					<!-- ABSTRACT -->

					<div class="form-group ">
						<label th:text="#{datatable.news.abstract}" for="abstractNews"></label>
						<textarea class="form-control" id="abstractNews" maxlength="500"></textarea>
						<small id="abstractNewsMaxContador"></small>
						<small id="abstractNewsMax" th:text="#{datatable.modal.maximo.abstract}"></small>
					</div>

					<!-- CONTENIDO -->

					<div class="form-group has-validation">
						<label th:text="#{datatable.news.contenido}" for="contentNews"></label>
						<textarea class="form-control" id="contentNews" maxlength="3500" required></textarea>
						<small id="contentNewsMaxContador"></small>
						<small id="contentNewsMax" th:text="#{datatable.modal.maximo}"></small>
						<div th:text="#{datatable.news.modal.validacion.contenido}"
							class="invalid-feedback"></div>

					</div>

					<!-- IMAGEN -->

					<div class="form-group has-validation">
						<label th:text="#{datatable.news.imagen}" for="imageNews"></label>
						<input type="file" name="file"
							class="form-control form-control-sm" id="imageNews" required>
						<div th:text="#{datatable.news.modal.validacion.imagen}"
							class="invalid-feedback"></div>
					</div>

					<!-- ACTIVO -->

					<div class="form-group">
						<label th:text="#{datatable.table.activo}" for="active"></label> <select
							class="form-select" id="active"
							aria-label="Floating label select example" required>
							<option th:text="#{datatable.table.activo.si}" value="1"></option>
							<option th:text="#{datatable.table.activo.no}" value="0"></option>
						</select>
					</div>

				</form>
				<div class="alert-danger text-center mensajeError" id="addNewsError"></div>
			</div>
			<div class="modal-footer">
				<button type="button" th:text="#{modal.btn.aceptar}"
					class="btn btn-light" data-bs-dismiss="modal"
					id="btnAceptarAddNews"></button>
				<button type="button" th:text="#{modal.btn.cancelar}"
					class="btn btn-light" data-bs-dismiss="modal"
					id="btnCancelarAddNews"></button>
			</div>
		</div>
	</div>
</div>


<!-- MODAL - EDITAR NOTICIA -->

<div class="modal" tabindex="-1" id="modalUpdateNews">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header containerTitles modalUpdate">
				<h5 th:text="#{datatable.modal.update.header}"
					id="headerModalUpdateNews" class="modal-title"></h5>
				<button id="btnCloseUpdateNews" type="button" class="btn-close"
					data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="formUpdateNews" class="row g-3 needs-validation">

					<!-- TÍTULO -->

					<div class="form-group has-validation">
						<label th:text="#{datatable.news.titulo}" for="titleNewsEdit"></label>
						<textarea class="form-control" id="titleNewsEdit" maxlength="3500" required></textarea>
						<small id="titleNewsMaxContadorEdit"></small>
						<small id="titleNewsMax" th:text="#{datatable.modal.maximo}"></small>
						<div th:text="#{datatable.news.modal.validacion.titulo}"
							class="invalid-feedback"></div>
					</div>

					<!-- ABSTRACT -->

					<div class="form-group ">
						<label th:text="#{datatable.news.abstract}" for="abstractNewsEdit"></label>
						<textarea class="form-control" id="abstractNewsEdit" maxlength="500"></textarea>
						<small id="abstractNewsMaxContadorEdit"></small>
						<small id="abstractNewsMax" th:text="#{datatable.modal.maximo.abstract}"></small>
					</div>

					<!-- CONTENIDO -->

					<div class="form-group has-validation">
						<label th:text="#{datatable.news.contenido}" for="contentNewsEdit"></label>
						<textarea class="form-control" id="contentNewsEdit" maxlength="3500" required></textarea>
						<small id="contentNewsMaxContadorEdit"></small>
						<small id="contentNewsMax" th:text="#{datatable.modal.maximo}"></small>
						<div th:text="#{datatable.news.modal.validacion.contenido}"
							class="invalid-feedback"></div>
					</div>

					<!-- ACTIVO -->

					<div class="form-group">
						<label th:text="#{datatable.table.activo}" for="activeEdit"></label>
						<select class="form-select" id="activeEdit"
							aria-label="Floating label select example" required>
							<option th:text="#{datatable.table.activo.si}" value="1"></option>
							<option th:text="#{datatable.table.activo.no}" value="0"></option>
						</select>
					</div>

					<input type="hidden" id="idNewsUpdate">

				</form>
				<div class="alert-danger text-center mensajeError" id="updateNewsError"></div>
			</div>
			<div class="modal-footer">
				<button type="button" th:text="#{modal.btn.aceptar}"
					class="btn btn-light" data-bs-dismiss="modal"
					id="btnAceptarUpdateNews"></button>
				<button type="button" th:text="#{modal.btn.cancelar}"
					class="btn btn-light" data-bs-dismiss="modal"
					id="btnCancelarUpdateNews"></button>
			</div>
		</div>
	</div>
</div>


<!-- MODAL - EDITAR FOTO NOTICIA -->

<div class="modal" tabindex="-1" id="modalUpdateImageNews">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header containerTitles modalUpdate">
				<h5 th:text="#{datatable.modal.update.photo.header}"
					id="headerModalUpdateImageNews" class="modal-title"></h5>
				<button id="btnCloseUpdateImageNews" type="button" class="btn-close"
					data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="formUpdateImageNews" class="row g-3 needs-validation">

					<!-- IMAGEN -->

					<div class="form-group has-validation">
						<label th:text="#{datatable.news.imagen}" for="imageNewsEdit"></label>
						<input type="file" name="file"
							class="form-control form-control-sm" id="imageNewsEdit" required>
						<div th:text="#{datatable.news.modal.validacion.imagen}"
							class="invalid-feedback"></div>
					</div>

					<input type="hidden" id="idNewsUpdateImage">

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" th:text="#{modal.btn.aceptar}"
					class="btn btn-light" data-bs-dismiss="modal"
					id="btnAceptarUpdateImageNews"></button>
				<button type="button" th:text="#{modal.btn.cancelar}"
					class="btn btn-light" data-bs-dismiss="modal"
					id="btnCancelarUpdateImageNews"></button>
			</div>
		</div>
	</div>
</div>


<!-- MODAL - ELIMINAR NOTICIA -->

<div class="modal modalDelete" tabindex="-1" id="modalDeleteNews">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header containerTitles ">
				<h5 th:text="#{datatable.modal.delete.header}"
					id="headerModalDeleteNews" class="modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<label th:text="#{datatable.news.modal.delete.label}"></label> <input
					type="hidden" id="idNewsDelete">
			</div>
			<div class="modal-footer">
				<button type="button" th:text="#{modal.btn.aceptar}"
					class="btn btn-light" data-bs-dismiss="modal"
					id="btnAceptarDeleteNews"></button>
				<button type="button" th:text="#{modal.btn.cancelar}"
					class="btn btn-light" data-bs-dismiss="modal"
					id="btnCancelarDeleteNews"></button>
			</div>
		</div>
	</div>
</div>

<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
	integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
	crossorigin="anonymous"></script>
