<div id="response"></div>

<div>
	<button type="button" id="formAddLinksBtn" class="btn btn-secondary">
		<a href="javascript: mostrarModalAddLinks();">Añadir nuevo link</a>
	</button>
	<button type="button" class="btn btn-warning"><a th:href="@{/management/generateExcel/links}">Generar Excel</a></button>
</div>

<!-- DATATABLE -->

<table id="linksDatatable" class="table datatableAdmin display nowrap" style="text-align: center;">
	<thead>
		<tr>
			<th class="atri" scope="col">ID</th>
			<th class="atri" scope="col" style="max-width: 300px;">Título</th>
			<th class="atri" scope="col">Imagen</th>
			<th class="atri" scope="col">URL</th>
			<th class="atri" scope="col">Admin</th>
			<th class="atri" scope="col">Fecha</th>
			<th class="atri selectActive" scope="col">Activo</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>

	</tbody>
	<tfoot>
		<tr>
			<th class="atri" scope="col">ID</th>
			<th class="atri" scope="col" style="max-width: 300px;">Título</th>
			<th class="atri" scope="col">Imagen</th>
			<th class="atri" scope="col">URL</th>
			<th class="atri" scope="col">Admin</th>
			<th class="atri" scope="col">Fecha</th>
			<th class="atri selectActive" scope="col">Activo</th>
			<th scope="col"></th>
		</tr>
	</tfoot>

</table>
<input class="selectedCat" type="hidden" value="9">


<!-- MODAL - IMAGEN -->

<div class="modal" tabindex="-1" id="modalImageLinks">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<img id="bodyModalImageLinks"></img>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>


<!-- MODAL - AÑADIR LINK -->

<div class="modal" tabindex="-1" id="modalAddLinks">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="headerModalAddLinks" class="modal-title">Añadir nuevo link</h5>
				<button id="btnCloseAddLinks" type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
<form id="formAddLinks" class="row g-3 needs-validation">

				<!-- TÍTULO -->

				<div class="form-group has-validation">
					<label for="titleLinks">Título</label>
					<input autocomplete="off" type="text"
						class="form-control" id="titleLinks"
						name="titleLinks" required><div class="invalid-feedback">Please choose a username.</div> 
				
				
				</div>
				
				
				<!-- IMAGEN -->

				<div class="form-group has-validation">
					<label for="imageLinks">Imagen</label> <input type="file"
						name="file" class="form-control form-control-sm" id="imageLinks" required><div class="invalid-feedback">Please choose a username.</div> 
				
				</div>
				
				
				<!-- URL -->

				<div class="form-group has-validation">
					<label for="urlLinks">URL</label>
					<input autocomplete="off" type="url"
						class="form-control" id="urlLinks"
						name="titleLinks" required>
				<div class="invalid-feedback">Please choose a username.</div> 
					
				</div>

				<!-- ACTIVO -->
				<div class="form-group">
					<label for="active">Activo</label> <select class="form-select"
						id="active" aria-label="Floating label select example" required>
						<option value="1">Si</option>
						<option value="0">No</option>
					</select>
				</div>
				
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal" id="btnAceptarAddLinks">Aceptar</button>
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal" id="btnCancelarAddLinks">Cancelar</button>

			</div>
		</div>
	</div>
</div>

<!-- MODAL - EDITAR LINK -->

<div class="modal" tabindex="-1" id="modalUpdateLinks">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="headerModalUpdateLinks" class="modal-title">Editar link</h5>
				<button id="btnCloseUpdateLinks" type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">

<form id="formUpdateLinks" class="row g-3 needs-validation">
				<!-- TÍTULO -->

				<div class="form-group has-validation">
					<label for="titleLinksEdit">Título</label>
					<input autocomplete="off" type="text"
						class="form-control" id="titleLinksEdit"
						name="titleLinks" required><div class="invalid-feedback">Please choose a username.</div> 
					
				</div>
				
				
				<!-- URL -->

				<div class="form-group has-validation">
					<label for="urlLinksEdit">URL</label>
					<input autocomplete="off" type="url"
						class="form-control" id="urlLinksEdit"
						name="titleLinks" required><div class="invalid-feedback">Please choose a username.</div> 
					
				</div>

				<!-- ACTIVO -->
				<div class="form-group">
					<label for="activeEdit">Activo</label> <select class="form-select"
						id="activeEdit" aria-label="Floating label select example" required>
						<option value="1">Si</option>
						<option value="0">No</option>
					</select>
				</div>
				<input
						type="hidden" id="idLinksUpdate"> 
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal" id="btnAceptarUpdateLinks">Aceptar</button>
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal" id="btnCancelarUpdateLinks">Cancelar</button>

			</div>
		</div>
	</div>
</div>

<!-- MODAL - EDITAR IMAGEN LINK -->

<div class="modal" tabindex="-1" id="modalUpdateImageLinks">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="headerModalUpdateImageLinks" class="modal-title">Editar link</h5>
				<button id="btnCloseUpdateImageLinks" type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">


				<form id="formUpdateImageLinks" class="row g-3 needs-validation">
				
				<!-- IMAGEN -->

				<div class="form-group has-validation">
					<label for="imageLinksEdit">Imagen</label> <input type="file"
						name="file" class="form-control form-control-sm" id="imageLinksEdit" required><div class="invalid-feedback">Please choose a username.</div> 
					
				</div>
				

				<input
						type="hidden" id="idLinksUpdateImage"> 
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal" id="btnAceptarUpdateImageLinks">Aceptar</button>
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal" id="btnCancelarUpdateImageLinks">Cancelar</button>

			</div>
		</div>
	</div>
</div>

	<!-- MODAL - ELIMINAR LINKS -->

	<div class="modal" tabindex="-1" id="modalDeleteLinks">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 id="headerModalDeleteLinks" class="modal-title">Eliminar
						link</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<label>¿Estás seguro de querer eliminar este link?</label> <input
						type="hidden" id="idLinksDelete"> 
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal" id="btnAceptarDeleteLinks">Aceptar</button>
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal" id="btnCancelarDeleteLinks">Cancelar</button>

				</div>
			</div>
		</div>
	</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>