<div>
<button type="button" id="formAddNewsBtn" class="btn btn-secondary"><a href="javascript: mostrarModalAddNews();">Añadir nueva noticia</a></button>
<button type="button" class="btn btn-warning">Generar Excel</button>
</div>




<!-- DATATABLE -->

<table id="newsDatatable" class="table" style="text-align: center;">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col" style="max-width: 300px;">Titulo</th>
			<th scope="col">Imagen</th>
			<th scope="col">Abstract</th>
			<th scope="col">Contenido</th>
			<th scope="col">Admin</th>
			<th scope="col">Fecha</th>
			<th scope="col">Activo</th>
			<th scope="col">Acciones</th>
		</tr>
	</thead>
	<tbody>

	</tbody>
	<tfoot>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Titulo</th>
			<th scope="col">Imagen</th>
			<th scope="col">Abstract</th>
			<th scope="col">Contenido</th>
			<th scope="col">Admin</th>
			<th scope="col">Fecha</th>
			<th scope="col">Activo</th>
			<th scope="col">Acciones</th>
		</tr>
	</tfoot>

</table>
<input class="selectedCat" type="hidden" value="1">


<!-- MODAL - IMAGEN -->

<div class="modal" tabindex="-1" id="modalNewsImage">
	<div class="modal-dialog">
		<div class="modal-content">
<!-- 			<div class="modal-header"> -->
<!-- 				<h5 id="headerModalAbstract" class="modal-title"></h5> -->
<!-- 				<button type="button" class="btn-close" data-bs-dismiss="modal" -->
<!-- 					aria-label="Close"></button> -->
<!-- 			</div> -->
			<div class="modal-body">
				<img id="bodyModalImageNews"></img>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>

<!-- MODAL - ABSTRACT -->

<div class="modal" tabindex="-1" id="modalNewsAbstract">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="headerModalAbstract" class="modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p id="bodyModalAbstract"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>


<!-- MODAL - CONTENIDO -->

<div class="modal" tabindex="-1" id="modalNewsContent">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="headerModalContent" class="modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p id="bodyModalContent"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>

<!-- MODAL - AÑADIR NOTICIA -->

<div class="modal" tabindex="-1" id="modalAddNews">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="headerModalAddNews" class="modal-title">Añadir nueva noticia</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="addNewsForm" th:action="@{/management/addNewsData}" th:object="${addNewsFormDto}"
					method="POST" enctype="multipart/form-data">
					<div class="form-group">
					
						<!-- TÍTULO -->
						
						<div class="form-group">
						<label for="titleNews">Título</label> 
							<textarea th:field ="*{titleNews}" class="form-control" 
								id="titleNews" style="height: 100px"></textarea> </br>
						</div>						

						<!-- ABSTRACT -->
						
						<div class="form-groupt">
						<label for="abstractNews">Abstract</label>
							<textarea th:field ="*{abstractNews}" class="form-control" 
								id="abstractNews" style="height: 100px"></textarea> </br>
						</div>

						
						<div class="form-group">
						<label for="contentNews">Contenido</label>
							<textarea th:field ="*{contentNews}" class="form-control" 
								id="contentNews" style="height: 100px"></textarea></br>
						</div>

						
						<div class="form-group">
						<label for="active">Activo</label>
							<select th:field ="*{active}" class="form-select" id="active"
								aria-label="Floating label select example">
								<option value="1">Si</option>
								<option value="0">No</option>
							</select></br>
						</div>
						
						<div class="form-group">
						<label for="imageNews">Imagen</label>
							<input type="file" name="file" class= "form-control form-control-sm" id="imageNews">
							</br>
						</div>


					</div>
					</br>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal" id="btnAceptarAddNews">Aceptar</button>
					<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal" id="btnCancelarAddNews">Cancelar</button>

			</div>
		</div>
	</div>
</div>

