
<div class="response" id="response"></div>

<div th:fragment="publications">

	<div id="buttonContainer">
		<button type="button" id="formAddPublicationsBtn"
			class="btn btn-light">
			<a th:text="#{datatable.btn.nuevoregistro}"
				href="javascript: mostrarModalAddPublications();"></a>
		</button>
		<button type="button" th:text="#{datatable.btn.generarexcel}"
			class="btn btn-light">
			<a th:href="@{/management/generateExcel/publications}"></a>
		</button>
	</div>


	<!-- DATATABLE -->

	<div class="container" id="datatablePublicationsContainer">
		<table id="publicationsDatatable"
			class="table datatableAdmin display nowrap">
			<thead>
				<tr>
					<th th:text="#{datatable.table.id}" class="atri" scope="col"></th>
					<th th:text="#{datatable.publications.titulo}" class="atri"
						scope="col"></th>
					<th th:text="#{datatable.publications.autores}" class="atri"
						scope="col"></th>
					<th th:text="#{datatable.publications.revista}" class="atri"
						scope="col"></th>
					<th th:text="#{datatable.publications.doi}" class="atri"
						scope="col"></th>
					<th th:text="#{datatable.publications.anyo}" class="atri"
						scope="col" style="word-break: break-word; white-space: pre-line;"></th>
					<th th:text="#{datatable.table.admin}" class="atri" scope="col"></th>
					<th th:text="#{datatable.table.fecha}" class="atri" scope="col"></th>
					<th th:text="#{datatable.table.activo}" class="atri selectActive"
						scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody></tbody>
			<tfoot>
				<tr>
					<th th:text="#{datatable.table.id}" class="atri" scope="col"></th>
					<th th:text="#{datatable.publications.titulo}" class="atri"
						scope="col"></th>
					<th th:text="#{datatable.publications.autores}" class="atri"
						scope="col"></th>
					<th th:text="#{datatable.publications.revista}" class="atri"
						scope="col"></th>
					<th th:text="#{datatable.publications.doi}" class="atri"
						scope="col"></th>
					<th th:text="#{datatable.publications.anyo}" class="atri"
						scope="col" style="word-break: break-word; white-space: pre-line;"></th>
					<th th:text="#{datatable.table.admin}" class="atri" scope="col"></th>
					<th th:text="#{datatable.table.fecha}" class="atri" scope="col"></th>
					<th th:text="#{datatable.table.activo}" class="atri selectActive"
						scope="col"></th>
					<th scope="col"></th>
				</tr>
			</tfoot>
		</table>
	</div>

	<input class="selectedCat" type="hidden" value="7">


	<!-- MODAL - AUTORES -->

	<div class="modal" tabindex="-1" id="modalAuthorsPublication">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header containerTitles">
					<h5 th:text="#{datatable.modal.add.header}"
						id="headerAuthorsPublication" class="modal-title"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="apartado">
					<h5 th:text="#{datatable.publications.modal.autores}"></h5>
				</div>
				<div class="modal-body" id="modalBodyAuthorsPublication">
					<div id="listaAutores"></div>
				</div>
				<div class="modal-footer">
					<button type="button" th:text="#{modal.btn.cerrar}"
						class="btn btn-light" data-bs-dismiss="modal"></button>
				</div>
			</div>
		</div>
	</div>


	<!-- MODAL - AÑADIR PUBLICACIÓN -->

	<div class="modal" tabindex="-1" id="modalAddPublications">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header containerTitles">
					<h5 th:text="#{datatable.modal.add.header}"
						id="headerModalAddPublications" class="modal-title"></h5>
					<button id="btnCloseAddPublication" type="button" class="btn-close"
						data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<form id="formAddPublication" class="row g-3 needs-validation"
						th:action="@{/management/addPublicationsData}"
						th:object="${publicationsFormDto}" method="POST">

						<!-- TÍTULO -->

						<div class="form-group has-validation">
							<label th:text="#{datatable.publications.titulo}"
								for="titlePublication"></label>
							<textarea class="form-control" id="titlePublication"
								th:field="*{titlePublication}" maxlength="3500" required></textarea>
								<small id="titlePublicationMaxContador"></small>
						<small id="titlePublicationMax" th:text="#{datatable.modal.maximo}"></small>
							<div th:text="#{datatable.publications.modal.validacion.titulo}"
								class="invalid-feedback"></div>
						</div>

						<!-- AUTORES -->

						<label th:text="#{datatable.publications.autores}"
							style="margin-top: 20px;" for="authorSelect"></label>
						<div class="form-group has-validation">
							<div id="authorsTable" class="table-responsive authorsTable"
								required>
								<table class="table table-bordered" id="dynamic_field">
									<tr id="selectNuevoAutor">
										<td colspan="3"><select class="form-select"
											id="authorSelect" aria-label="Floating label select example">
												<option
													th:text="#{datatable.publications.modal.autores.select}"
													id="headerSelectAuthors" value=""></option>
												<option th:each="memberDto : ${listaMembersDto}"
													th:text="${memberDto.nameMember} + ', ' + ${memberDto.shortNameMember}"
													th:value="${memberDto.idMember}"
													th:data-name-member="${memberDto.nameMember}"
													th:data-short-name-member="${memberDto.shortNameMember}">
												</option>
										</select></td>
										<td rowspan="2"><button
												th:text="#{datatable.publications.modal.autores.anyadir}"
												type="button" name="add" id="add" class="btn btn-light"></button></td>
									</tr>
									<tr id="btnNuevoAutor">
										<td colspan="3"><button
												th:text="#{datatable.publications.modal.autores.nuevo}"
												type="button" name="newAuthor" id="newAuthor"
												class="btn btn-light"></button>
										<td>
									</tr>
									<tr>
										<td></td>
										<td th:text="#{datatable.publications.modal.autores.nombre}"
											id="labelInputNameAutor"></td>
										<td
											th:text="#{datatable.publications.modal.autores.nombreautor}"
											id="labelInputShortNameAutor"></td>
									</tr>
									<tr class="form-group has-validation">
										<td></td>
										<td id="tdInputNameAutor"><input id="inputNameAutor"
											type="text" name="autores[].nameAuthor"
											class="form-control name_list " required></td>
										<td id="tdInputShortNameAutor"><input
											id="inputShortNameAutor" type="text"
											name="autores[].shortNameAuthor"
											class="form-control name_list " required></td>
									</tr>
								</table>
							</div>
						</div>
						<div th:text="#{datatable.publications.modal.validacion.autores}"
							class="invalid-feedback"></div>

						<!-- REVISTA -->

						<div class="form-group has-validation">
							<label th:text="#{datatable.publications.revista}"
								for="journalPublication"></label> <input autocomplete="off"
								type="text" class="form-control" id="journalPublication"
								th:field="*{journalPublication}" required>
							<div th:text="#{datatable.publications.modal.validacion.revista}"
								class="invalid-feedback"></div>
						</div>

						<!-- DOI -->

						<div class="form-group has-validation">
							<label th:text="#{datatable.publications.doi}"
								for="doiPublication"></label> <input type="url"
								autocomplete="off" class="form-control" id="doiPublication"
								th:field="*{doiPublication}" required>
							<div th:text="#{datatable.publications.modal.validacion.doi}"
								class="invalid-feedback"></div>
						</div>

						<!-- AÑO DE PUBLICACIÓN -->

						<div class="form-group has-validation">
							<label th:text="#{datatable.publications.anyo}"
								for="yearPublication"></label> <select class="form-select"
								th:field="*{yearPublication}"
								aria-label="Floating label select example" required>
								<option th:text="#{datatable.publications.modal.select.anyo}"
									value=""></option>
								<option
									th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), #dates.year(#dates.createNow()) - 50)}"
									th:value="${year}" th:text="${year}"></option>
							</select>
							<div th:text="#{datatable.publications.modal.validacion.anyo}"
								class="invalid-feedback"></div>
						</div>

						<!-- ACTIVO -->

						<div class="form-group">
							<label th:text="#{datatable.table.activo}" for="active"></label>
							<select th:field="*{active}" class="form-select" id="active"
								aria-label="Floating label select example" required>
								<option th:text="#{datatable.table.activo.si}" value="1"></option>
								<option th:text="#{datatable.table.activo.no}" value="0"></option>
							</select>
						</div>

						<!-- ADMIN -->

						<input id="inputUserPublication" th:field="*{admin}" type="hidden"
							th:value="${#httpServletRequest.remoteUser}">

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" th:text="#{modal.btn.aceptar}"
						class="btn btn-light" data-bs-dismiss="modal"
						id="btnAceptarAddPublication"></button>
					<button type="button" th:text="#{modal.btn.cancelar}"
						class="btn btn-light" data-bs-dismiss="modal"
						id="btnCancelarAddPublication"></button>

				</div>
			</div>
		</div>
	</div>


	<!-- MODAL - EDITAR PUBLICACIÓN -->

	<div class="modal" tabindex="-1" id="modalUpdatePublications">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header containerTitles modalUpdate">
					<h5 th:text="#{datatable.modal.update.header}"
						id="headerModalEditPublications" class="modal-title"></h5>
					<button id="btnCloseUpdatePublications" type="button"
						class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<form id="formUpdatePublication" class="row g-3 needs-validation"
						th:action="@{/management/updatePublicationsData}"
						th:object="${publicationsFormDto}" method="POST">

						<!-- TÍTULO -->

						<div class="form-group has-validation">
							<label th:text="#{datatable.publications.titulo}"
								for="titlePublicationEdit"></label>
							<textarea class="form-control" id="titlePublicationEdit"
								th:field="*{titlePublication}" maxlength="3500" required></textarea>
								<small id="titlePublicationMaxContadorEdit"></small>
						<small id="titlePublicationMax" th:text="#{datatable.modal.maximo}"></small>
							<div th:text="#{datatable.publications.modal.validacion.titulo}"
								class="invalid-feedback"></div>
						</div>

						<!-- AUTORES -->

						<label th:text="#{datatable.publications.autores}"
							style="margin-top: 20px;" for="authorSelectEdit"></label>
						<div class="form-group has-validation">
							<div id="authorsTableEdit " class="table-responsive authorsTable">
								<table class="table table-bordered" id="dynamic_fieldEdit">
									<tr id="selectNuevoAutorEdit">
										<td colspan="3"><select class="form-select"
											id="authorSelectEdit"
											aria-label="Floating label select example">
												<option
													th:text="#{datatable.publications.modal.autores.select}"
													id="headerSelectAuthorsEdit" value=""></option>
												<option th:each="memberDto : ${listaMembersDto}"
													th:text="${memberDto.nameMember} + ', ' + ${memberDto.shortNameMember}"
													th:value="${memberDto.idMember}"
													th:data-name-member="${memberDto.nameMember}"
													th:data-short-name-member="${memberDto.shortNameMember}">
													<input id="inputNameMember" type="hidden"
														th:value="${memberDto.nameMember}"><input
														id="inputShorNameMember" type="hidden"
														th:value="${memberDto.shortNameMember}">
												</option>
										</select></td>
										<td rowspan="2"><button type="button"
												th:text="#{datatable.publications.modal.autores.anyadir}"
												name="add" id="addEdit" class="btn btn-light"></button></td>
									</tr>
									<tr id="btnNuevoAutorEdit">
										<td colspan="3"><button
												th:text="#{datatable.publications.modal.autores.nuevo}"
												type="button" name="newAuthor" id="newAuthorEdit"
												style="margin-top: 0px !important;" class="btn btn-light"></button>
										<td>
									</tr>
									<tr>
										<td></td>
										<td th:text="#{datatable.publications.modal.autores.nombre}"
											id="tdLabelNameAutorEdit"></td>
										<td
											th:text="#{datatable.publications.modal.autores.nombreautor}"
											id="tdLabelShortNameAutorEdit"></td>

									</tr>
									<tr class="form-group has-validation">
										<td></td>
										<td id="tdInputNameAutorEdit"><input
											id="inputNameAutorEdit" type="text"
											class="form-control name_list"></td>
										<td id="tdInputShortNameAutorEdit"><input type="text"
											id="inputShortNameAutorEdit" class="form-control name_list"></td>
										<input type="hidden" id="inputIdMemberEdit"
											class="form-control name_list">
										<input type="hidden" id="numRowsAuthors">
									</tr>
								</table>
							</div>
						</div>
						<div th:text="#{datatable.publications.modal.validacion.autores}"
							class="invalid-feedback"></div>

						<!-- REVISTA -->

						<div class="form-group has-validation">
							<label th:text="#{datatable.publications.revista}"
								for="journalPublicationEdit"></label> <input autocomplete="off"
								type="text" class="form-control" id="journalPublicationEdit"
								th:field="*{journalPublication}" required>
							<div th:text="#{datatable.publications.modal.validacion.revista}"
								class="invalid-feedback"></div>
						</div>

						<!-- DOI -->

						<div class="form-group has-validation">
							<label th:text="#{datatable.publications.doi}"
								for="doiPublicationEdit"></label> <input type="url"
								autocomplete="off" class="form-control" id="doiPublicationEdit"
								th:field="*{doiPublication}" required>
							<div th:text="#{datatable.publications.modal.validacion.doi}"
								class="invalid-feedback"></div>
						</div>

						<!-- AÑO DE PUBLICACIÓN -->

						<div class="form-group has-validation">
							<label th:text="#{datatable.publications.anyo}"
								for="yearPublicationEdit"></label> <select
								id="yearPublicationEdit" class="form-select"
								th:field="*{yearPublication}"
								aria-label="Floating label select example" required>
								<option th:text="#{datatable.publications.modal.select.anyo}"
									value=""></option>
								<option
									th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()), #dates.year(#dates.createNow()) - 50)}"
									th:value="${year}" th:text="${year}"></option>
							</select>
							<div th:text="#{datatable.publications.modal.validacion.anyo}"
								class="invalid-feedback"></div>
						</div>

						<!-- ACTIVO -->

						<div class="form-group">
							<label th:text="#{datatable.table.activo}" for="activeEdit"></label>
							<select th:field="*{active}" class="form-select" id="activeEdit"
								aria-label="Floating label select example" required>
								<option th:text="#{datatable.table.activo.si}" value="1"></option>
								<option th:text="#{datatable.table.activo.no}" value="0"></option>
							</select>
						</div>

						<!-- ADMIN -->

						<input id="inputUserPublicationEdit" th:field="*{admin}" type="hidden"
							th:value="${#httpServletRequest.remoteUser}"> <input
							th:field="*{idPublication}" type="hidden" id="idPublicationEdit">

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" th:text="#{modal.btn.aceptar}"
						class="btn btn-light" data-bs-dismiss="modal"
						id="btnAceptarUpdatePublication"></button>
					<button type="button" th:text="#{modal.btn.cancelar}"
						class="btn btn-light" data-bs-dismiss="modal"
						id="btnCancelarUpdatePublication"></button>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- MODAL - ELIMINAR PUBLICACIÓN -->

<div class="modal modalDelete" tabindex="-1" id="modalDeletePublication">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header containerTitles ">
				<h5 th:text="#{datatable.modal.delete.header}"
					id="headerModalDeletePublication" class="modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<label th:text="#{datatable.publications.modal.delete.label}"></label>
				<input type="hidden" id="idPublicationDelete">
			</div>
			<div class="modal-footer">
				<button type="button" th:text="#{modal.btn.aceptar}"
					class="btn btn-light" data-bs-dismiss="modal"
					id="btnAceptarDeletePublication"></button>
				<button type="button" th:text="#{modal.btn.cancelar}"
					class="btn btn-light" data-bs-dismiss="modal"
					id="btnCancelarDeletePublication"></button>
			</div>
		</div>
	</div>
</div>

<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
	integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
	crossorigin="anonymous"></script>
