<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/common/head :: head"></head>
<body class="border border-danger">
	<header th:replace="views/common/header :: header"></header>

	<div class="container-fluid" style="margin-top: 20px;">
		<div class="row">
			<div class=" col-lg-2" style="padding-left: 0px;">
				<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar"
					style="width: 320px;">
					<a href="/"
						class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
						<svg class="bi me-2" width="40" height="32"> <use
							xlink:href="#bootstrap"></use></svg> <span class="fs-4">Sidebar</span>
					</a>
					<hr>
					<ul class="listCat nav nav-pills flex-column mb-auto">
						<li class="nav-item"><a href="#"
							class="catSidebar nav-link" aria-current="page"
							data-num-cat="0"> <svg class="bi me-2" width="16" height="16">
								</use></svg> Inicio
						</a></li>
						<li><a href="#" class="catSidebar nav-link "
							data-num-cat="1"> <svg class="bi me-2" width="16" height="16">
								<use xlink:href="#speedometer2"></use></svg> Noticias
						</a></li>
						<li><a href="#" class="catSidebar nav-link "
							data-num-cat="2"> <svg class="bi me-2" width="16" height="16">
								<use xlink:href="#speedometer2"> </use></svg> Categorías profesionales
						</a></li>
						<li><a href="#" class="catSidebar nav-link "
							data-num-cat="3"> <svg class="bi me-2" width="16" height="16">
								<use xlink:href="#speedometer2"> </use></svg> Miembros
						</a></li>
						<li><a href="#" class="catSidebar nav-link "
							data-num-cat="4"> <svg class="bi me-2" width="16" height="16">
								<use xlink:href="#table"></use></svg> Proyectos
						</a></li>
						<li><a href="#" class="catSidebar nav-link "
							data-num-cat="5"> <svg class="bi me-2" width="16" height="16">
								<use xlink:href="#speedometer2"> </use></svg> Categorías técnicas
						</a></li>
						<li><a href="#" class="catSidebar "
							data-num-cat="6">  Servicios de investigacion
						</a></li>
						<li><a id="sidebarPublication" href="#"
							class="catSidebar nav-link " data-num-cat="7"> <svg
									class="bi me-2" width="16" height="16"> <use
									xlink:href="#people-circle"></use></svg> Publicaciones
						</a></li>
						<li><a href="#" class="catSidebar "
							data-num-cat="8"> <svg class="bi me-2" width="16" height="16">
								<use xlink:href="#speedometer2"></use></svg> Tesis
						</a></li>
						<li><a href="#" class="catSidebar "
							data-num-cat="9"> <svg class="bi me-2" width="16" height="16">
								<use xlink:href="#speedometer2"></use></svg> Enlaces
						</a></li>
					</ul>
						
				</div>
			</div>
			<div class="col-10">
				<div class="container-fluid" id="containerDataTables"
					style="overflow-y: scroll;"></div>
			</div>
		</div>
	</div>
	<input id="inputCatPublication" type="hidden"
		th:value="${catPublication}">



<div class="footer">
	<footer th:replace="views/common/footer :: footer"></footer>
</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
		integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.datatables.net/fixedheader/3.2.3/js/dataTables.fixedHeader.min.js"></script>

	<script src="/js/sidebarAdmin.js"></script>
	<script src="/js/datatables/datatableNews.js"></script>
	<script src="/js/datatables/datatableProCat.js"></script>
	<script src="/js/datatables/datatableTechCat.js"></script>
	<script src="/js/datatables/datatableMembers.js"></script>
	<script src="/js/datatables/datatableProjects.js"></script>
	<script src="/js/datatables/datatableLinks.js"></script>
	<script src="/js/datatables/datatableThesis.js"></script>
	<script src="/js/datatables/datatableFacilities.js"></script>
	<script src="/js/datatables/datatablePublications.js"></script>


</body>
</html>