<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/common/head :: head"></head>
<body>
	<header th:replace="views/common/header :: header"></header>

	<div id="panelGestion" class="d-flex nowrap ">
		<div
			class="sidebar sticky-top d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
			<div id="sidebarTitle">
				<h5 th:text="#{sidebar.titulo}"></h5>
			</div>
			<hr>
			<a th:text="#{sidebar.inicio}" id="sidebarHome"
				class="active catSidebar" href="#home" data-num-cat="0"></a> <a
				th:text="#{sidebar.noticias}" class="catSidebar" href="#news"
				data-num-cat="1"></a> <a th:text="#{sidebar.procat}"
				class="catSidebar" href="#proCat" data-num-cat="2"></a> <a
				th:text="#{sidebar.miembros}" class="catSidebar" href="#members"
				data-num-cat="3"></a> <a th:text="#{sidebar.proyectos}"
				class="catSidebar" href="#projects" data-num-cat="4"></a> <a
				th:text="#{sidebar.techcat}" class="catSidebar" href="#techCat"
				data-num-cat="5"></a> <a th:text="#{sidebar.servicios}"
				class="catSidebar" href="#facilities" data-num-cat="6"></a> <a
				th:text="#{sidebar.publicaciones}" id="sidebarPublication"
				class="catSidebar" href="#publications" data-num-cat="7"></a> <a
				th:text="#{sidebar.tesis}" class="catSidebar" href="#thesis"
				data-num-cat="8"></a> <a th:text="#{sidebar.enlaces}"
				class="catSidebar" href="" data-num-cat="9"></a> <a
				th:text="#{sidebar.admins}" class="catSidebar" href="#admins"
				data-num-cat="10"></a>
		</div>

		<div 
			class="container d-lg-flex flex-wrap align-items-center justify-content-center justify-content-lg-start --bs-bg-opacity: 1"
			id="containerDataTables">

			<div class="response" id="response"></div>

			<div id="containerHomeGestion" class="row">

				<div id="labelBienvenidaContainer" class="card ">
					<div class="card-title">
						<h1 th:text="#{gestion.inicio.bienvenida.titulo}"></h1>
					</div>
					<div class="card-body ">
						<p th:text="#{gestion.inicio.bienvenida.texto}"></p>
					</div>
				</div>

				<div id="imagesCarouselEditContainer" class="card ">
					<div class="card-title">
						<div id="carouselHomeGestion" class="carousel slide"
							data-bs-ride="true">
							<div class="carousel-indicators">
								<button type="button"
									data-bs-target="#carouselExampleIndicators"
									data-bs-slide-to="0" class="active" aria-current="true"
									aria-label="Slide 1"></button>
								<button type="button"
									data-bs-target="#carouselExampleIndicators"
									data-bs-slide-to="1" aria-label="Slide 2"></button>
								<button type="button"
									data-bs-target="#carouselExampleIndicators"
									data-bs-slide-to="2" aria-label="Slide 3"></button>
							</div>
							<div id="carouselInnerHomeGestion" class="carousel-inner">
								<div class="carousel-item active">
									<img src="images/image1Carousel.png" class="imgCarousel"
										alt="...">
								</div>
								<div class="carousel-item">
									<img src="images/image2Carousel.png" class="imgCarousel"
										alt="...">
								</div>
								<div class="carousel-item">
									<img src="images/image3Carousel.png" class=" imgCarousel"
										alt="...">
								</div>
							</div>
							<button class="carousel-control-prev" type="button"
								data-bs-target="#carouselHomeGestion" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden"></span>
							</button>
							<button class="carousel-control-next" type="button"
								data-bs-target="#carouselHomeGestion" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden"></span>
							</button>
						</div>
					</div>

					<div class="card-body ">
						<form id="formUpdateImageCarousel" class="needs-validation">
							<table>
								<tr>
									<th></th>
									<th th:text="#{gestion.inicio.tabla.imagen1}"></th>
									<th th:text="#{gestion.inicio.tabla.imagen2}"></th>
									<th th:text="#{gestion.inicio.tabla.imagen3}"></th>
								</tr>
								<tr>
									<td th:text="#{gestion.inicio.tabla.imagenactual}"></td>
									<td><a th:text="#{gestion.inicio.tabla.verimagen}"
										class="imgCarousel" id="image1Carousel" href="#"></a></td>
									<td><a th:text="#{gestion.inicio.tabla.verimagen}"
										class="imgCarousel" id="image2Carousel" href="#"> </a></td>
									<td><a th:text="#{gestion.inicio.tabla.verimagen}"
										class="imgCarousel" id="image3Carousel" href="#"> </a></td>
								</tr>
								<tr>
									<td colspan="4" th:text="#{gestion.inicio.tabla.cambiarimagen}"></td>

								</tr>
								<tr>
									<td>
										<div class="form-group">
											<label th:text="#{gestion.inicio.tabla.numeroimagen}"
												for="numImageCarousel"></label> <select class="form-select"
												id="numImageCarousel"
												aria-label="Floating label select example" required>
												<option th:text="#{gestion.inicio.tabla.valoruno}" value="1"></option>
												<option th:text="#{gestion.inicio.tabla.valordos}" value="2"></option>
												<option th:text="#{gestion.inicio.tabla.valortres}"
													value="3"></option>
											</select>
										</div>
									</td>
									<td colspan="2"><div class="form-group has-validation">
											<input type="file" name="file"
												class="form-control form-control-sm" id="imageEditCarousel"
												required>
											<div th:text="#{gestion.inicio.tabla.mensaje.validacion}"
												class="invalid-feedback"></div>

										</div></td>
									<td><div id="btnActualizarCarouselImage">
											<button th:text="#{gestion.inicio.tabla.actualizar}"
												type="button" class="btn btn-light"
												id="btnActualizarCarouselImageHome"></button>
										</div></td>

								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<input id="inputCatPublication" type="hidden"
		th:value="${catPublication}">

	<!-- MODAL - IMAGEN -->

	<div class="modal" tabindex="-1" id="modalImageCarousel">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header containerTitles">
					<h5 id="headerModalImageCarousel" class="modal-title"></h5>
					<button id="btnCloseImageCarousel" type="button" class="btn-close"
						data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<img class="modalImage" id="bodyModalImageCarousel"></img>
				</div>
				<div class="modal-footer">
					<button th:text="#{modal.btn.cerrar}" type="button"
						class="btn btn-light" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<footer th:replace="views/common/footer :: footer"></footer>
	</div>
<input id="lang" type="hidden" th:value="${lang}">
	<div th:replace="views/common/commonLabels :: commonLabels"></div>


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
		integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.datatables.net/fixedheader/3.2.3/js/dataTables.fixedHeader.min.js"></script>

	<script src="/js/sidebarAdmin.js"></script>
	<script src="/js/datatables/datatableNews.js"></script>
	<script src="/js/datatables/datatableProCat.js"></script>
	<script src="/js/datatables/datatableTechCat.js"></script>
	<script src="/js/datatables/datatableMembers.js"></script>
	<script src="/js/datatables/datatableProjects.js"></script>
	<script src="/js/datatables/datatableLinks.js"></script>
	<script src="/js/datatables/datatableThesis.js"></script>
	<script src="/js/datatables/datatableFacilities.js"></script>
	<script src="/js/datatables/datatablePublications.js"></script>
	<script src="/js/datatables/datatableAdmins.js"></script>
	<script src="/js/header.js"></script>

</body>
</html>