<div id="commonLabels" th:fragment="commonLabels" >


<!-- PANEL DE GESTIÓN - INICIO - MODAL -->

<input type="hidden"  id ="imagen1" th:value="#{gestion.inicio.tabla.imagen1}">
<input type="hidden"  id ="imagen2" th:value="#{gestion.inicio.tabla.imagen2}">
<input type="hidden"  id ="imagen3" th:value="#{gestion.inicio.tabla.imagen3}">


<!-- PANEL DE GESTIÓN - DATATABLE - CARTELES COMUNES -->

<input type="hidden"  id ="labelMostrando" th:value="#{datatable.label.mostrando}">
<input type="hidden"  id ="labelEntradas" th:value="#{datatable.label.entradas}">
<input type="hidden"  id ="labelA" th:value="#{datatable.label.a}">
<input type="hidden"  id ="labelDe" th:value="#{datatable.label.de}">
<input type="hidden"  id ="labelBuscador" th:value="#{datatable.label.buscador}">
<input type="hidden"  id ="labelAnterior" th:value="#{datatable.label.anterior}">
<input type="hidden"  id ="labelSiguiente" th:value="#{datatable.label.siguiente}">
<input type="hidden"  id ="labelTablaVacia" th:value="#{datatable.label.tablavacia}">
<input type="hidden"  id ="labelNoCoincidencias" th:value="#{datatable.label.nocoincidencias}">
<input type="hidden"  id ="labelFiltrado" th:value="#{datatable.label.filtrado}">
<input type="hidden"  id ="labelCargando" th:value="#{datatable.label.cargando}">

<input type="hidden"  id ="linkAcciones" th:value="#{datatable.acciones}">
<input type="hidden"  id ="linkEditar" th:value="#{datatable.acciones.editar}">
<input type="hidden"  id ="linkCambiarFoto" th:value="#{datatable.acciones.cambiarfoto}">
<input type="hidden"  id ="linkEliminar" th:value="#{datatable.acciones.eliminar}">

<input type="hidden"  id ="activoSi" th:value="#{datatable.table.activo.si}">
<input type="hidden"  id ="activoNo" th:value="#{datatable.table.activo.no}">

<input type="hidden"  id ="addOkMensaje" th:value="#{datatable.mensaje.add.confirmacion}">
<input type="hidden"  id ="updateOkMensaje" th:value="#{datatable.mensaje.update.confirmacion}">
<input type="hidden"  id ="deleteOkMensaje" th:value="#{datatable.mensaje.delete.confirmacion}">
<input type="hidden"  id ="addErrorMensaje" th:value="#{datatable.mensaje.add.error}">
<input type="hidden"  id ="updateErrorMensaje" th:value="#{datatable.mensaje.update.error}">
<input type="hidden"  id ="deleteErrorMensaje" th:value="#{datatable.mensaje.delete.error}">


<!-- DATATABLE - FACILITIES -->

<input type="hidden"  id ="photoFacilityLabel" th:value="#{datatable.facilities.foto}">
<input type="hidden"  id ="featuresFacilityLabel" th:value="#{datatable.facilities.caracteristicas}">


<!-- DATATABLE - LINKS -->

<input type="hidden"  id ="imageLinkLabel" th:value="#{datatable.links.imagen}">
<input type="hidden"  id ="urllinkLabel" th:value="#{datatable.links.url}">


<!-- DATATABLE - MEMBERS -->

<input type="hidden"  id ="dataMemberLabel" th:value="#{datatable.members.datos}">
<input type="hidden"  id ="photoMemberLabel" th:value="#{datatable.members.foto}">
<input type="hidden"  id ="trajectoryMemberLabel" th:value="#{datatable.members.trayectoria}">


<!-- DATATABLE - NEWS -->

<input type="hidden"  id ="imageNewsLabel" th:value="#{datatable.news.imagen}">
<input type="hidden"  id ="abstractNewsLabel" th:value="#{datatable.news.abstract}">
<input type="hidden"  id ="contentNewsLabel" th:value="#{datatable.news.contenido}">


<!-- DATATABLE - PROJECTS -->

<input type="hidden"  id ="imageProjectLabel" th:value="#{datatable.projects.imagen}">
<input type="hidden"  id ="descriptionProjectLabel" th:value="#{datatable.projects.descripcion}">


<!-- DATATABLE - PUBLICATIONS -->

<input type="hidden"  id ="authorsPublicationLabel" th:value="#{datatable.publications.autores}">
<input type="hidden"  id ="doiPublicationtLabel" th:value="#{datatable.publications.doi}">


<!-- DATATABLE - THESIS -->

<input type="hidden"  id ="coverPageThesisLabel" th:value="#{datatable.thesis.portada}">
<input type="hidden"  id ="directorsThesisLabel" th:value="#{datatable.thesis.directores}">
<input type="hidden"  id ="urlThesisLabel" th:value="#{datatable.thesis.url}">



</div>