<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<footer th:fragment="footer" class="p-3 bg-dark text-white">

	<div id="footerContainer"
		class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

		<div id="logoFooter"
			class="d-flex flex-wrap align-items-center justify-content-lg-start logo">
			<div>
				<a href="https://www.icms.us-csic.es/" class="text-white"> <img
					src="/images/logoIcmse.png" alt="" width="75" height="60">
				</a>
				<div>
					<p th:text="#{footer.logo.grupo}"></p>
				</div>
			</div>
		</div>

		<div id="infoFooter">
			<h6 th:text="#{footer.info.titulo}" style="color: CornflowerBlue;"></h6>
			<p th:text="#{footer.info.nombre}" class="text-muted"></p>
			<p th:text="#{footer.info.centro}" class="text-muted"></p>
			<p th:text="#{footer.info.direccion}" class="text-muted"></p>
		</div>

		<div id="mapaFooter">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.0766990406923!2d-6.009005684734673!3d37.41166197982716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126b8d7da4bfd3%3A0xd1bd98579d1d4f68!2sInstituto%20de%20Ciencia%20de%20los%20Materiales%20de%20Sevilla%20(ICMSE)!5e0!3m2!1ses!2ses!4v1653661068497!5m2!1ses!2ses"
				width="150" height="100" style="border: 0;" allowfullscreen=""
				loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>

	</div>
	</footer>

</body>
</html>