<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div id="header" th:fragment="header" class="p-3 bg-dark text-white">
		<div id="contentHeader"
			class="d-flex flex-wrap align-items-center justify-content-lg-start">
			<div id="logoHeader"
				class="d-flex flex-wrap align-items-center justify-content-lg-start logo">
				<div>
					<a href="https://www.icms.us-csic.es/" class="text-white"> <img
						src="/images/logoIcmse.png" alt="" width="75" height="60">
					</a>
					<div>
						<p th:text="#{header.logo.grupo}"></p>
					</div>
				</div>
			</div>
			<div id="menuHeader"
				class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<div>
					<a th:text="#{header.menu.inicio}" href="/home"
						class="nav-link px-3 text-white"></a>
				</div>
				<div>
					<a th:text="#{header.menu.miembros}" href="/members/"
						class="nav-link px-3 text-white"></a>
				</div>
				<div>
					<a th:text="#{header.menu.proyectos}" href="/projects"
						class="nav-link px-3 text-white"></a>
				</div>

				<div>
					<a th:text="#{header.menu.servicios}" href="/facilities"
						class="nav-link px-3 text-white"> </a>
				</div>
				<div>
					<a th:text="#{header.menu.publicaciones}" href="/publications"
						class="nav-link px-3 text-white"></a>
				</div>
				<div>
					<a th:text="#{header.menu.tesis}" href="/thesis"
						class="nav-link px-3 text-white"></a>
				</div>
				<div>
					<a th:text="#{header.menu.enlaces}" href="/links"
						class="nav-link px-3 text-white"></a>
				</div>

			</div>
			<div id="gestionHeader"
				class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<div class="text-end">
					<li style="list-style-type: none" class="nav-item dropdown"><a
						th:text="#{header.menu.idioma}"
						class="text-white nav-link dropdown-toggle" href="#"
						id="navbarDarkDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"></a>
						<ul id="headerLangDropdown"
							class="dropdown-menu dropdown-menu-dark headerDropdown"
							aria-labelledby="navbarDarkDropdownMenuLink">
							<div id="espLang" class="dropdown-item headerLang active">
								<li><img class="me-2" src="/images/es.svg" alt=""
									width="25" height="15"><a
									th:text="#{header.menu.idioma.espanyol}" href="?lang=es"></a></li>
							</div>
							<div id="engLang" class="dropdown-item headerLang">
								<li><img class="me-2" src="/images/gb.svg" alt=""
									width="25" height="15"><a
									th:text="#{header.menu.idioma.ingles}" href="?lang=en"></a></li>
							</div>
							<div id="frLang" class="dropdown-item headerLang">
								<li><img class="me-2" src="/images/fr.svg" alt=""
									width="25" height="15"><a
									th:text="#{header.menu.idioma.frances}" href="?lang=fr"></a></li>
							</div>

						</ul></li>
				</div>
				<div class="text-end">
					<li style="list-style-type: none" class="nav-item dropdown"><a
						class="text-white nav-link dropdown-toggle" href="#"
						id="navbarDarkDropdownMenuLink" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"><svg
								xmlns="http://www.w3.org/2000/svg" width="16" height="16"
								fill="currentColor" class="bi bi-person-fill"
								viewBox="0 0 16 16"> <path
								d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
							</svg></a>
						<ul class="dropdown-menu dropdown-menu-dark headerDropdown"
							aria-labelledby="navbarDarkDropdownMenuLink">
							<li id="loginOpt"><a th:text="#{login.btn.login}" class="dropdown-item" href="/login"></a></li>
							
							<li id="gestionOpt"><a th:text="#{header.menu.gestion.gestionar}"
								class="dropdown-item" href="/management"></a></li>
							<li id="logoutOpt"><a th:text="#{login.btn.salir}" class="dropdown-item" href="/logout"></a>

							</li>
						</ul></li>
				</div>
			</div>
		</div>
	</div>

	<script src="/js/header.js"></script>
</body>
</html>