<div th:each="proCatMemberDto:${listaProCatMemberDto}">
			<div class="row justify-content-center mb-4">
				<div class="col-md-7 text-center">
					<h3 th:text="${proCatMemberDto.nameProCat}" class="mb-3"></h3>

				</div>
			</div>
			<div class="row">

				<!-- column  -->
				<div th:each="memberDto:${proCatMemberDto.membersDto}"
					class="col-lg-3 mb-4">
					<!-- Row -->
					<div class="row">
						<div class="col-md-12">
							<img src="/images/flamenca.png" alt="..."
								style="width: 250px; height: 250px;"
								class="img-fluid rounded-circle" />
						</div>
						<div class="col-md-12 text-center">
							<div class="pt-2">
								<h5 th:text="${memberDto.nameMember}"
									class="mt-4 font-weight-medium mb-0"></h5>
							</div>
						</div>
					</div>
					<!-- Row -->
				</div>
				<!-- column  -->
			</div>
		</div>