<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head th:replace="views/common/head :: head"></head>
<body>
	<header th:replace="views/common/header :: header"></header>

	<div class="container-fluid">
		<div class="row g-2">
			<div class="col-12">
				<div id="carouselHome" class="carousel slide" data-bs-ride="true">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="0" class="active" aria-current="true"
							aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div id="carouselInnerHome" class="carousel-inner">
						<div class="carousel-item active">
							<img src="images/image1Carousel.png" class="imgCarousel"
								alt="...">
						</div>
						<div class="carousel-item">
							<img src="images/image2Carousel.png" class="imgCarousel"
								alt="...">
						</div>
						<div class="carousel-item">
							<img src="images/image3Carousel.png" class=" imgCarousel"
								alt="...">
						</div>
					</div>
					<button class="carousel-control-prev" type="button"
						data-bs-target="#carouselHome" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden"></span>
					</button>
					<button class="carousel-control-next" type="button"
						data-bs-target="#carouselHome" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden"></span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div id="containerHome" class="container">
		<div id="contenidoContainerHome">
			<div class="col-lg-12" id="contenedorBienvenida">
				<div id="bienvenida">
					<blockquote>
						<b><p th:text="#{home.bienvenida.texto1}" class="text-center"></p></b>
						<b><p th:text="#{home.bienvenida.texto2}" class="text-center"></p></b>
					</blockquote>
				</div>
			</div>

			<div id="cardsNewsContainer" class="row">
				<div th:each="news:${listaNews}" class="cardsNews">
					<div class="card ">
						<div class="containerTitles">
							<h5 th:text="${news.titleNews}" class="card-title"></h5>
						</div>
						<img th:src="@{/images/}+${news.imageNews}" class="card-img-top"
							width="200" height="250">
						<div class="card-body ">
							<p th:text="${news.contentNews}" class="card-text text-muted"></p>
							<p id="masInfo" class="card-text">
								<a th:text="#{home.noticias.masinfo}" id="masInfo"
									th:href="@{/news/newsComplete/}+${news.idNews}"></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<footer th:replace="views/common/footer :: footer"></footer>
	</div>
	<input id="lang" type="hidden" th:value="${lang}">
	<input id="inputUser" type="hidden"
		th:value="${#httpServletRequest.remoteUser}">

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<script src="/js/header.js"></script>

</body>
</html>