<div id="listPublicationsContainer" class="dataCompleteContainer">
	<div class="accordion" id="accordionExample">
		<div class="accordion-item"
			th:each="publicationsYearsDto:${listaPublicationsYearsDto}">
			<div class="containerAccordionHeaders">
				<h5 class="accordion-header"
					th:id="'heading'+ ${publicationsYearsDto.yearPublication}">
					<button th:text="${publicationsYearsDto.yearPublication}"
						class="accordion-button" type="button" data-bs-toggle="collapse"
						th:data-bs-target="'#collapse'+${publicationsYearsDto.yearPublication}"
						aria-expanded="true"
						th:aria-controls="'collapse'+${publicationsYearsDto.yearPublication}"></button>
				</h5>
			</div>
			<div id="accordionBodyPublications" class="accordion-body">
				<div
					th:each="publicationsDto:${publicationsYearsDto.listaPublicationsDto}"
					th:id="'collapse'+${publicationsYearsDto.yearPublication}"
					class="accordion-collapse collapse show publicationItems"
					th:aria-labelledby="'heading'+${publicationsYearsDto.yearPublication}">
					<div>
						<a th:href="${publicationsDto.doiPublication}"><strong
							th:text="${publicationsDto.titlePublication}"></strong></a>
					</div>
					<div class="authors"
						th:each="author:${publicationsDto.authorsPublication}"
						th:data-text="${author.shortNameAuthor}"
						th:data-is-member="${author.isMember}"
						th:data-id-member="${author.idMember}"
						th:data-num-autor="${publicationsDto.numAuthors}"></div>
				</div>
			</div>
		</div>
	</div>
</div>